*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: navy;
  height: 80px;
}

header #navbar {
  background-color: royalblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

header #navbar .nav_brand a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 700px;
  text-decoration: none;
  color: white;
}

header #navbar .nav_brand a:hover {
  color: gold;
  transition: 0,3s;
}

header #navbar .nav_list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;

}

header #navbar .nav_list .nav_item a {
  text-decoration: none;
  color: white;
}

header #navbar .nav_list .nav_item a:hover {
  color: gold;
  transition: 0,3s;
}

main {
  background-color:white;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  line-height: 1.6;
  text-align: justify;
}

main .main_item {
  border: 6px solid royalblue;
  padding: 15px 25px;
  border-radius: 6px;
}

footer {
  background-color: navy;
  height: 30px;
}

footer .footer_item {
  color: white;
  text-align: center;

}